casestudy/target/classes/casestudy.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/current/mule-sfdc.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
    <sfdc:cached-basic-config name="Salesforce__Basic_Authentication" username="grooptoo@accenture.com" password="CASESTUDY102" securityToken="AgJXMK6QWakA5O5Zi7DsqLuCq" doc:name="Salesforce: Basic Authentication"/>
    <jms:activemq-connector name="Active_MQ" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ"/>
    <jms:activemq-connector name="Active_MQ1" specification="1.1" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ"/>
    <flow name="casestudyFlow" processingStrategy="synchronous">
        <poll doc:name="Poll">
            <fixed-frequency-scheduler frequency="15" timeUnit="SECONDS"/>
            <watermark variable="lastcreatedDate" default-expression="2019-08-01T00:00:00.000Z" selector="LAST" selector-expression="#[payload.CreatedDate]"/>
            <sfdc:query config-ref="Salesforce__Basic_Authentication" query="dsql:SELECT ID FROM Account WHERE CreatedDate &gt; #[flowVars.lastcreatedDate]"  doc:name="Salesforce"/>
        </poll>
        <logger message="payload size is #[payload.size()] and payload created date is #[flowVars.lastcreatedDate]" level="INFO" doc:name="Logger"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Account ID Variable">
			<dw:input-payload mimeType="application/json"/>
            <dw:set-variable variableName="ID"><![CDATA[%dw 1.0
%output application/java
---

payload.Id
]]></dw:set-variable>
        </dw:transform-message>
        <foreach collection="#[flowVars.ID]" doc:name="For Each AccountID">
            <scatter-gather doc:name="Scatter-Gather Account, Contact, and Order">
                <processor-chain>
                    <sfdc:query config-ref="Salesforce__Basic_Authentication" query="dsql:SELECT AccountNumber,CreatedDate,Id,Name FROM Account WHERE Id = '#[payload]'" doc:name="Query to get Accounts"/>
                    <json:object-to-json-transformer doc:name="Object to JSON"/>
                    <logger message="#[payload]" level="INFO" doc:name="Logger"/>
                </processor-chain>
                <processor-chain>
                    <sfdc:query config-ref="Salesforce__Basic_Authentication" query="dsql:SELECT AccountId,Birthdate,Email,FirstName,LastName FROM Contact WHERE AccountId = '#[payload]'" fetchSize="10" doc:name="Query to get Contact"/>
                    <json:object-to-json-transformer doc:name="Object to JSON"/>
                    <logger message="#[payload]" level="INFO" doc:name="Logger"/>
                </processor-chain>
                <processor-chain>
                    <sfdc:query config-ref="Salesforce__Basic_Authentication" query="SELECT AccountId,ContractId,CustomerAuthorizedById FROM Order WHERE AccountId = '#[payload]'" fetchSize="10" doc:name="Query to get Order"/>
                    <json:object-to-json-transformer doc:name="Object to JSON"/>
                    <logger message="#[payload]" level="INFO" doc:name="Logger"/>
                </processor-chain>
            </scatter-gather>
            <dw:transform-message doc:name="Transform Message">
                <dw:set-variable variableName="AggregatedAccount"><![CDATA[%dw 1.0
%output application/java
---
payload]]></dw:set-variable>
            </dw:transform-message>
            <json:object-to-json-transformer doc:name="Object to JSON"/>
            <logger message="#[flowVars.AggregatedAccount]" level="INFO" doc:name="Logger"/>
            <jms:outbound-endpoint queue="recordsQ" connector-ref="Active_MQ1" doc:name="JMS"/>
        </foreach>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
flowVars.AggregatedAccount]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="case-studyFlow">
        <jms:inbound-endpoint queue="recordsQ" connector-ref="Active_MQ" doc:name="JMS"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
